# Virtual Environment
venv/

# Ollama
ollama/
OllamaSetup.exe

# PDF (optional - remove this line if you want to include your PDF)
me.pdf

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables (API keys, secrets)
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

#personal files
me.pdf
ken.jpg
test.gif
requirements.txt
run_all.bat
.gitignore
images/
.env