# Virtual Environment
venv/

# Ollama
ollama/
OllamaSetup.exe

# AI/ML cached files
vectorstore/
*.faiss
*.pkl

# PDF (optional - remove this line if you want to include your PDF)
about me.pdf

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables (API keys, secrets)
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

#personal files
me.pdf
ken.jpg
test.webp
run.txt